header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 20vh;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.205), rgba(0, 0, 0, 0.26)) rgba(0, 0, 0, 0);
}

.logo img{
    width: 60%;
    cursor: pointer;
}

.social-media{
    display: flex;
    gap: 30px;

    i{
        font-size: 1.5em;
        border-radius: 60%;
        border: 2px solid #fff;
        padding: 15px;
        background-color: #ffffff25;
        cursor: pointer;
        transition: all 0.5s;
        perspective: 1000px;
    }

    i:hover{
        background-color: #ffffff6b;
    }
}

@media screen and (max-width: 768px){
    header{
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 100%;
        height: 20vh;
    }
    
    .logo img{
        width: 40%;
        display: block;
        margin: auto;
        cursor: pointer;
    }
    
    .social-media{
        display: none;
    }
}
