.ads{
    padding: 20px;
    text-align: center;
    font-family: 'Archivo', sans-serif;
}

.hero-banner{
    background: url('assets/banner.svg') no-repeat center center;
    background-size: cover;
    height: 40vh;
    width: 100%;

    .hero-text{
        display: flex;
        color: white;
    }
}

